.orderIdButton {
    background-color: var(--color-blue);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 80%;
    padding: 4px 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.2s;
}


.orderIdButton:hover {
    background-color: var(--color-blue-dark);
}

.filterSection {
  display: flex;
  flex-direction: row;
  justify-content: center; /* можно заменить на space-between, если фильтров несколько */
  background-color: var(--color-bg-muted);
  border: 2px dotted var(--color-border);
  border-radius: var(--radius-md);
  padding: 10px 10px;
  width: fit-content;  /* ширина = по содержимому */
  margin: 5px auto;      /* центрирование */
  gap: 10px;
}

.filterItem {
  padding: 5px 10px;
  background-color: var(--color-white);
  border-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 6px;          
}
