.formRow {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 5px;
}

.formRow label {
  text-align: right;
  font-weight: 600;
  word-wrap: break-word;
  white-space: pre-wrap;
  width: 100px;
}

.rowInput {
  width: 200px;
}

.login-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  margin-bottom: 16px;
  width: 350px;
}
