.orderIdButton {
    background-color: var(--color-blue);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 50%;
    padding: 4px 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.2s;
}

.orderIdButton:hover {
    background-color: var(--color-blue-dark);
}

.filterSection {
  margin-top: 10px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: var(--color-bg-muted);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  padding: 12px;
  gap: 12px;
  position: sticky;
  top: 20px; /* чтобы оставалась на месте при скролле */
}

.filterItem {
  background-color: var(--color-white);
  border-radius: var(--radius-md);
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.filterItem label {
  font-weight: 500;
  font-size: 0.9rem;
}