.formRow {
  display: flex;
  align-items: center;
  justify-content: left;
  width: auto;
  gap: 5px;
}

.formRow label {
  text-align: right;
  font-weight: 600;
  word-wrap: break-word;
  white-space: pre-wrap;
  width: 150px;
}

.rowInput {
  width: 300px;
}
